{% extends 'base.html' %} {% import 'bootstrap/wtf.html' as wtf %} {% block title %}Login{% endblock %} {% block head %} {{ super() }}
<style type="text/css">
    #loginlength {
        max-width: 600px;
    }
</style>
{% endblock %} 
{% block content %}
{{ super() }} 
<div class="page-header">
    <div class="container">
        <h1>Login</h1>
    </div>
</div>
<div class="container">
    <div class="row">
    <form method="post">
        <div class="well bs-component">
            {{ wtf.quick_form(form) }}
        </div>
    </form>
    </div>
</div>
{% endblock %}